* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-color: #c0d6b0;
    margin: 0;
    padding: 0;
}

/* Melody code below */

.Melody h2 {
	color: rgb(38, 92, 23);
	font-size: 32px;
}

.Melody p {
	font-style: italic;
}

.Melody img{ 
	margin: 20px;
	height: 300px;
	
}

/* Dan code below */

/* Robin code below */

/* Amyas code below */

/* Chloe code below */

/* Bill code below */

/* Adam is skiing */
