* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-color: #c0d6b0;
    margin: 0;
    padding: 0;
}

/* Melody code below */

/* Dan code below */

/* Robin code below */

/* Amyas code below */

/* Chloe code below */

/* Bill code below */

.Bill /* container */{
	display: flex;
	justify-content: center;
}

img {
	width: 170px;
	margin: 50px;
}

* {
	box-sizing: border-box;
}

/* Adam is skiing */
