* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-color: #c0d6b0;
    margin: 0;
    padding: 0;
}

/* Melody code below */

/* Dan code below */

.this {
	color: purple;
}

.is {
	color: red;
}

.a {
	color: green;
}

.text {
	color: blue;
}

.The {
	font-style: italic;
}

.fourth {
	text-decoration: underline;
	font-weight: bold;
}


/* Robin code below */

/* Amyas code below */

/* Chloe code below */

/* Bill code below */

/* Adam is skiing */
